html, body 
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #7E7E84;
}

@font-face {
	font-family: BryantRegular;
	src: url('/STNfonts/Bryant2Combo/Bryant2/Bryant-Regular.otf'), 
		url('/STNfonts/Bryant2Combo/Bryant2Web_EOT/BryantWebRegular.eot') /* IE9 */
}

@font-face {
	font-family: BryantBold;
	src: url('/STNfonts/Bryant2Combo/Bryant2/Bryant-Bold.otf'), 
		url('/STNfonts/Bryant2Combo/Bryant2Web_EOT/BryantWebBold.eot') /* IE9 */
}

#rightPane {
    /*border:solid 1px #224a54;*/
    width:306px;
}

#map 
{
	border-width: 1px;
	border-style: solid;
	border-color: #000;
	padding: 0;
	z-index: 0;
	/*height: 100%;
	width: 100%;*/
}

#header {
	top: 0px;
	left: 0px;
	right: 0px;
	height: 65px;
	background-color: #59595C;
	color: #E7E4CE;
	position: absolute;
	z-index: 1;
	display: inline;
	font-family: BryantRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
	font-size: 40px;
}

#usgsLogoDiv {
	float: left;
	background-color: Black;
	height: 50px;
	width: 150px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	text-align: center;
}

#usgsLogo {
	
}


#loadingScreen{
	position:absolute;
	top:0;
	left:0;
	background-color: #CCC;
	opacity: 1;
	/*IE 5-9*/
	filter: alpha(opacity=100);
	height:100%;
	width:100%;
	z-index:999;
}

#loadingScreenGraphic{
	position: fixed;
	top:25%;
	/*left positioning offset due to wide loading graphic*/
	left:46%;
}

#title {
	float: left;
	padding-right: 5px;
	padding-left: 10px;
	padding-top: 10px;
	font-family: BryantBold, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
}

#titleSeparator {
	color: #F37A49;
	float: left;
	padding-right: 5px;
	padding-top: 10px;
	font-family: BryantBold, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
}

#subTitle {
	padding-top: 10px;
}

#betaTitle {
	float: right;
	padding: 20px;
	font-size: 16px;
	color: #AAAAB5;
}

#geocodeBar {
	position: absolute;
	right: 5px;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(89, 89, 92);
	/* RGBa with 0.55 opacity */
	background: rgba(89, 89, 92, 1.0);
	/* For IE 5.5 - 7*/
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7E7E8400, endColorstr=#7E7E8400);*/
	/* For IE 8*/
	/*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7E7E8400, endColorstr=#7E7E8400)";*/
	z-index: 1;
	border: 1px solid #59595C;
	/*border-radius: 5px;
	-moz-border-radius: 5px;*/
	border-radius: 0px;
	-moz-border-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	padding: 5px;
	display: inline;
	float: right;
	top: 0px;
	font-family: BryantRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
}

#geocodeBar #geocode {
	width: 130px;
	height: 15px;
	font-size: 12px;
	font-style: italic;
}

#geocodeBar #searchIcon {
	width: 15px;
	height: 15px;
	vertical-align: middle;
}


button
{
	height: 16px;
}

#wimLogo {
	position:absolute; 
	bottom: 5px; 
	right: 5px; 
	z-index:40;
}


#loadingStatus {
	position: absolute; 
	right: 49%; 
	top: 48%; 
	z-index: 99;
}

#loadingStatusContent 
{
	background-color: Black;
	color: White;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 10px;
	display: inline;
	width: 135px;
}

#availableLayers
{
	position: relative;
	/*left: 0px;
	bottom: 20px;*/
	z-index: 2;
	width: 290px;
	right:0px;
	overflow: hidden;
	/*border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;*/
	/*border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;*/
}

#layerToggles {
	overflow: hidden;
}

#layersElements
{
	font-size: 22;
	font-weight: normal;
	opacity:1.0;
	filter:alpha(opacity=100);
	padding-bottom: 10px;
}

#legend
{
	font-family: BryantRegular;
	background-color:#E7E4CE;
	color:Black;
	font-size:18;
	font-weight: normal;
	max-height:400px;
	overflow:auto;
	border-radius:5px;
	margin:5px;
}

#legendHeader {
	color:#D3CFBA;
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
	margin-left:5px;
}

#mobileLayers 
{
	color: Black;
	visibility: hidden;
	position: absolute;
	bottom: 5px;
	right: 5px;
	background-color: Black;
	border-style: solid;
	border-width: 1;
	border-color: Black;
	color: White;
	z-index: 1;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px;
	display: inline;
}

#coneTrackLegend {
	position: absolute;
	z-index: 2;
	left:10px;
	bottom:10px;
}

#backToMap 
{
	visibility: hidden;
	float: right;
}

#infoWindow
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 50px;
	background-color: gray;
	visibility: hidden;
}

/*#map_zoom_slider {
	top: 135px;
	left: 10px;
	height: 60px;
}*/

.esriSimpleSliderVertical   {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color:#59595C;
  border: 1px solid #B5BCC7;
  
}

.esriSimpleSliderIncrementButton {
	border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	width:25px;
	height: 25px;
	border: none !important;
	opacity:1;
	
}

.esriSimpleSliderDecrementButton {
	border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	width:25px;
	height: 25px;
	border:none; !important;
	opacity:1;
}

.esriSimpleSlider {
  top: 30px;
  left:10px;
  border: none !important;
  color:#fff !important;
  box-shadow:none !important;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  opacity: 0.7 !important;
  filter: alpha(opacity=70) !important;
  background-color: #59595C !important;
  border-radius:none !important;
}

.esriSimpleSlider div{
	-moz-user-select: none;
    font-family: BryantBold,verdana,helvetica;
    font-size: 24px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    width: 25px;
  
}

#basemapSelector .dijitTitlePaneTitle {
	background-color: #F37A49;
	padding: 2px;
	border: 0px;
	font-family: BryantRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
	border-radius: 0px;
	-moz-border-radius: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
}

#basemapSelector .dijitTitlePaneContentOuter {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
}

#basemapSelector {
	font-weight: 500;
	font-size: 16px;
	color: White;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	font-family: BryantRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
	position: absolute;
	right: 180px;
	top: 0px;
	z-index: 3;
}

#basemapSelector img {
	display: inline-table;
	vertical-align: middle;
}

#basemapSelector .claro .dijitTitlePaneTitle  {
	display: none;
	
}

.dijitArrowNode {
	visibility: hidden;
}


.claro .dijitTitlePaneTitle {
	border-radius: 5px;
	-moz-border-radius: 5px;
    background-color: #F37A49; !important;
	color: White; !important;
    border: 1px solid #B5BCC7;
    min-height: 25px;
    padding: 0 7px 3px;
	vertical-align: middle;
	background-image:none;
	background-repeat:no-repeat;
}

.claro .dijitTitlePane .dijitTitlePaneTextNode {
    color: white;
}

.claro .dijitTitlePane {
	color:white;
}

.claro .dijitTitlePaneContentInner {
    padding: 10px;
	background-color:#7E7E84;
	border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}


#userTools {
	top: 0px;
	width: 290px;
	position:relative;
	z-index: 3;
	color:#F37A49;
}

#filterBox
{
	z-index: 3;

	/*border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;*/
	/*border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;*/
	width: 290px;
	z-index: 2;
	color:#D3CFBA;
	position: relative;
	
}

#hwmFilterBox
{
	z-index: 3;
	/*border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;*/
	width: 290px;
	position: relative;
}

.submitButton {
    background: none repeat scroll 0 0 #59595C;
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: none;
    font-size: 16px;
    height: auto;
    text-align: center;
	margin-top:5px;
	font-family:BryantRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
}

.clearButton {
    background: none repeat scroll 0 0 #59595C;
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-size: 16px;
    height: auto;
    text-align: center;
	margin-top:5px;
	font-family:BryantRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
}

#createButtonDiv {
	position:absolute;
	top: 0px;
	left: 90px;	
	z-index:2;
}

#createButton {
	background: none repeat scroll 0 0 #F37A49;
    border: 1px solid gray;
    border-radius: 0px 0px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: none;
    font-size: 16px;
    font-weight: bold;
    height: 25px;
    text-align: center;
	font-family:BryantRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
	
}

#createModeIndicator {
	position:absolute;
	top:0px;
	left: 90px;	
	z-index:3;
	color: red;
    cursor: pointer;
    font-weight: bold;
    height: auto;
	text-align: center;
	font-family:BryantBold, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
	background: none repeat scroll 0 0 #F37A49;
    border: 1px solid gray;
    border-radius: 0px 0px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: none;
    font-weight: bold;
    height: auto;
    text-align: center;
	padding-left:5px;
	padding-right:5px;
	font-family:BryantRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
	visibility:hidden;
}

#CMIHead{
	font-size: 32px;
	text-align: center;
}

#CMISubHead {
	font-size: 14px;
	text-align: center;
}

#createDialog {
	font-family: BryantRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
	color: #E7E4CE;
	background-color: #59595C;
	border: 1px solid #59595C;
	border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;	
	
}

.claro .dijitDialogTitleBar {
    background-color: #59595C;
	background-image: none;
    border-image: none;
    border: none !important;
	background-repeat:no-repeat;
	color:#F37A49;
	font-family:BryantBold, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
}

.dijitDialogTitleBar {
    cursor: move;
}

.claro .dijitDialogPaneContent {
    background-color:#7E7E84;
    padding: 10px 8px;
    position: relative;
	border-top: none;
	text-align:center;
}

.claro .dijitDialogTitle {
    color: #F37A49;
    font-size: 1.091em;
    padding: 0 1px;
	font-family:BryantBold, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
}

.claro .dijitButton .dijitButtonNode, .claro .dijitDropDownButton .dijitButtonNode, .claro .dijitComboButton .dijitButtonNode, .claro .dijitToggleButton .dijitButtonNode {
    background-color: #F37A49;
    background-image: none;
    background-repeat: no-repeat;
    border: 1px solid  #59595C;
    border-radius: 5px 5px 5px 5px;
    box-shadow: none;
    color: white;
    padding: 2px 4px 4px;
	margin-top:5px;
}
.claro .dijitButtonNode {
    transition-duration: 0.3s;
    transition-property: background-color;
}
.dijitSelect, .dijitSelect *, .dijitButtonNode, .dijitButtonNode * {
    cursor: pointer;
}
.dijitButtonNode {
    border: 1px solid gray;
    line-height: normal;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.claro .dijitButtonText {
    padding: 0 0.3em;
    text-align: center;
	font-family: BryantBold, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
}

#filterCountIndicator {
	position:absolute;
	top:0px;
	right: 600px;	
	z-index:2;
	color: red;
    cursor: pointer;
    font-weight: bold;
    height: auto;
	text-align: center;
	font-family:BryantBold, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
	background: none repeat scroll 0 0 #F37A49;
    border: 1px solid gray;
    border-radius: 0px 0px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    float: none;
    font-weight: bold;
    height: auto;
    text-align: center;
	padding-left:5px;
	padding-right:5px;
	font-family:BryantRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
	visibility:hidden;
}


#filterCountText {
	font-size: 22px;
	text-align: center;
}

.esriLegendService {
	padding-bottom: 0px;
}

/*.esriLegendServiceLabel {
	display: none;
}*/

.esriLegendLayerLabel {
	display: none;
}


.claro .dijitSlider .dijitSliderProgressBarV, .claro .dijitSlider .dijitSliderBottomBumper {
    background-color: #F37A49;
    background-image: -moz-linear-gradient(left center , #FFFFFF 0px, rgba(255, 255, 255, 0) 1px);
    border-color: #B5BCC7;
}

.claro .dijitSlider .dijitSliderRemainingBarV, .claro .dijitSlider .dijitSliderTopBumper {
    background-color: #7E7E84;
    border-color: #B5BCC7;
}

.claro .dijitSliderDecrementIconH, .claro .dijitSliderIncrementIconH, .claro .dijitSliderDecrementIconV, .claro .dijitSliderIncrementIconV {
    background-color: #59595C;
    opacity: 0.7;
    background-repeat: no-repeat;
    border: 1px solid #B5BCC7;

}

.claro .dijitContentPane {
    padding: 0px;
}

.dijitInputInner {
    background-color: #E7E4CE !important;
   
}

.claro .dijitTextBox {
	background-color: #E7E4CE !important;
}

.dijitContentPane {

}

.dijitAlignRight {
	overflow: scroll;
	overflow-x: hidden;
}

